.ctrl_container * {
	display: inline;
}

.slider_container {
	position: relative;
	height: 100%;
}

input.original {
	position: absolute;
}

input.original[type=range]::-webkit-slider-thumb {
	position: relative;
	z-index: 10;
}

input.ghost {
	position: relative;
}

input.ghost[type=range]::-webkit-slider-thumb {
	position: relative;
	z-index: 10;
}

